[Unit]
Description=AKURU portal
After=network.target

[Service]
User=akuru
Group=akuru
WorkingDirectory=/opt/akuru/source-code/frontend
Environment=NODE_ENV=production
Environment=PORT=5181
ExecStart=/usr/bin/npm run start
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target
